<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <p><%= current_user.phone %></p>
  <p><%= current_user.email %></p>

  <%= button_to "SMS", sms_path, method: :post, data: { confirm: 'Tem certeza que deseja enviar a mensagem?' }%>
<% end %>
